[Unit]
Description=Gogs (Go Git Service)
Requires=gogs-postgresql.service
After=gogs-postgresql.service

#After=mysqld.service
#After=postgresql.service
#After=memcached.service
#After=redis.service

[Service]
Type=simple
User=git
Group=git
WorkingDirectory={{ app_dir }}/gogs
ExecStart={{ app_dir }}/gogs/gogs web --config {{ app_data_dir }}/config/gogs.ini
Restart=always
Environment=USER=git HOME=/home/git
Environment=PATH={{ app_dir }}/git/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# Modify these two values and uncomment them if you have
# repos with lots of files and get an HTTP error 500 because
# of that
###
#LimitMEMLOCK=infinity
#LimitNOFILE=65535

[Install]
WantedBy=multi-user.target